@charset "UTF-8";

h1 {color: Orange; }
h2 {color: yellow}
h3 {color: white; }
h4 {color: cyan}
p {color: green}
li {color: blue}
body {
    background-image: url(https://seanabney.github.io/Space_8.jpg);  background-repeat: no-repeat;  background-position: cover;  background-attachment: fixed;
  }




h2 {
  animation-duration: 3s;
  animation-name: slidein;
  nimation-iteration-count: infinite;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
/* link styles */
a:link, a:visited { color: #DC6903; }
a:focus, a:hover, a:active { color: #F9AB33; }
a {  text-decoration: none;  border-bottom: 1px dotted;}
html {   box-sizing: border-box; } * { 	  box-sizing: inherit; padding-bottom: .2em; } 						

/* header styles */
header {
   
  text-align: center;
}
header p {
  font-style: italic;
  font-size: 1.2em;
   height: 15em; 
}

/* nav styles */
nav, footer {
  font-family: verdana, sans-serif;
  background-color: #783F27;
}
nav ul li a:link, nav ul li a:visited {
  color: #F9AB33;
}
nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
  color: #fff;
}
nav ul li {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
}

